.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  
  .container {
    margin: 20px 50px 20px 50px;
  
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 20px;
  }
  
  .top-section {
    display: flex;
    justify-content: space-between;
  }